<!DOCTYPE html>
<html>
<head>
<title>黑名单</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../public/css/bootstrap.min.css">
<link rel="stylesheet" href="../public/css/font-awesome.min.css">
<link rel="stylesheet" href="../public/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../public/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../public/css/main.css">
<!--全局公用样式-->
<link rel="stylesheet" type="text/css" href="../public/css/globle.css" />

<script src="../public/libs/jquery.min.js"></script>
<script src="../public/plugins/layer/layer.js"></script>
<script src="../public/libs/bootstrap.min.js"></script>
<script src="../public/libs/vue.min.js"></script>
<script src="../public/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../public/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../public/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../public/js/common.js"></script>
<script src="../public/js/sys/cos-js-sdk-v5.min.js"></script>
<script src="../public/libs/webuploader.min.js"></script>
<script src="../public/libs/diyUpload.js"></script>

<!-- 图片样式 -->
<style>
	.simulation_img{
		margin: auto;
		width: 200px;
		height: 300px;
	}
	.album{
		position: fixed;
		left:0;
		bottom: 0;
		top: 0;
	    right: 0;
	    background: #d9d9d9;
	    opacity: .97;
	    display: none;

	}
	.album img{
		opacity: 1;
	    position: absolute;
	    left: 50%;
	    max-height: 100%;
	    top: 50%;
	    margin: 0 auto;
	    transform: translate3d(-50%,-50%,0);
	}
	.ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td{
		    white-space: nowrap;
	}
	.table>tbody>tr>td{
		vertical-align: middle;
	}
</style>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="角色或冒险团名称">
			</div>
			<a class="btn btn-default" @click="query">查询</a>
			<a v-if="hasPermission('blacklist:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('blacklist:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('blacklist:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal" style="width: 100%;">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">角色名称</div>
			   	<div class="col-sm-2">
			      <input type="text" class="form-control" v-model="blackList.name" placeholder="角色名称"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">冒险团名称</div>
			   	<div class="col-sm-2">
			      <input type="text" class="form-control" v-model="blackList.groupName" placeholder="冒险团名称"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">严重程度</div>
			   	<div class="col-sm-2">
			   		<select class="form-control" v-model="blackList.severity">
					<option value="1">一般</option>
					<option value="2">较重</option>
					<option value="3">严重</option>
					<option value="4">特别严重</option>
				</select>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">大区名称</div>
			   	<div class="col-sm-2">
			      <select class="form-control" v-model="blackList.regionName" placeholder="大区名称">
					<option v-for="option in regionNames" v-bind:value="option.value">
						{{ option.text }}
					</option>
				</select>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">证据图片</div>
			   	<div class="col-sm-10" id="addImgId">
			       <input type="text" class="form-control" v-model="blackList.imgUrl" id="imgUrl" style="display: none;" placeholder="图片地址"/>
			      <!--<input id="file-selector" type="file"  multiple="multiple"> -->
			     <div>
				    <ul class="upload-ul clearfix" style="padding-left: 14px;">
				        <li class="upload-pick">
				            <div class="webuploader-container clearfix" id="goodsUpload"></div>
				        </li>
				    </ul>
				       <span id="ctlBtn_x" class="btn btn-default" style="margin-top: -47px;">确认上传</span>
				</div>
			    </div>
			    <div class="col-sm-2" id="updateImgId">
			    	<span class="form-control">提示：图片更改只能删除或补录，不支持修改。</span>
			    </div>
			</div>
			
<div class="form-group">
			   	<div class="col-sm-2 control-label">备注</div>
			   	<div class="col-sm-8">
			      <input type="text" class="form-control" v-model="blackList.remarks" placeholder="备注"/>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" id="submit" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>
	<div class="album">
		<img src="" alt="" id="showImg">
	</div>
	
<script src="../public/js/generator/blacklist.js"></script>
<script type="text/javascript">

//上传图片
var $tgaUpload = $('#goodsUpload').diyUpload({
	buttonText : '',
	accept: {
		title: "Images",
		extensions: 'gif,jpg,jpeg,bmp,png'
	},
	thumb:{
		width:120,
		height:90,
		// 图片质量，只有type为`image/jpeg`的时候才有效。
		quality:100,
		// 是否允许放大，如果想要生成小图的时候不失真，此选项应该设置为false.
		allowMagnify:false,
		// 是否允许裁剪。
		crop:true,
		// 如果发现压缩后文件大小比原来还大，则使用原来图片
	    // 此属性可能会影响图片自动纠正功能
		noCompressIfLarger: false,
		compress:false,
		type:"image/jpeg"
	},
	fileNumLimit:10
}); 
window.$tgaUpload=$tgaUpload;

$("#ctlBtn_x").click(function(){
	var files=$tgaUpload.getFiles();
	if(files.length<=0){
		alert('请选择图片！');
		return;
	}
	confirm('确认上传图片？上传后无法修改，请一次性选择完整。', function(){
		alert('上传中...');
		var isBoolean=true;
		var ij=1;
	for(var i=0;i<files.length;i++){
		var file=files[i].getSource().source;
		var timestamp=$.now()+i;
		 var index = file.name.lastIndexOf(".");
		 var ext = file.name.substr(index);
		var fileName=timestamp+ext;
		cos.sliceUploadFile({
	        Bucket: Bucket,
	        Region: Region,
	        Key: "blacklist/"+fileName,
	        Body: file,
	    }, function (err, data) {
	        console.log(err, data);
	        if(typeof(data)=="undefined"){
	        	isBoolean=false;
	        }else{
	        	if($("#imgUrl").val()==''){
	        		$("#imgUrl").val(data.Key);
	        	}else{
	        		$("#imgUrl").val($("#imgUrl").val()+","+data.Key);
	        	}
	        }
	        if(isBoolean&&files.length==ij){
	    		$(".diyControl").remove();
	        	$("#ctlBtn_x").hide();
	    		alert('上传成功');
	        }else if(!isBoolean&&files.length==ij){
	    		alert('上传失败');
	    	}
	        ij++;
	    }); 
	}
	});
}); 
</script>
</body>
</html>